html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* This will prevent scrolling */
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App {
  flex: 1; /* This will make the App component take up the remaining height */
  display: flex;
  flex-direction: column;
}

/* Add other styles as needed */
